extends ./layout.jade

block content
	.container
		h3(style="color: green;") Post a news:

		form(role="form", action="/submitnews", method="post", required)
			div.form-group
				label News Text (140 character, Twitter style):
				textarea.form-control(type="text", placeholder="Enter a news item (140 character)", name="newsText", autofocus="", required, maxlength="140")
			div.btn-group
				button.btn.btn-primary(type="submit") Post News
		
		hr
		
		h3(style="color: green;") List of news posted by you (in chronological order):
		- each item in news
			div(class="panel panel-default")
				div(class="panel-panel")
					h5
						- if (item.newsApprove)
							span(class="label label-success") Approved
						- else
							span(class="label label-danger") Unapproved
						|  posted on #{moment(new Date(item.newsDate)).format('MM/DD/YYYY - hh:mm')} by #{item.initial}
						a(class="btn btn-default pull-right", href="postnews/#{item.newsUID}/deletenews")
							| delete
					p
						| #{item.newsText}
